.creds-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    font-size: 1.8rem;
    background-color: #274160;

    .img-container {
        text-align: center;
        color: white;
        margin-bottom: 10%;
    }

    span {
        font-family: 'DM Sans', sans-serif;
        font-size: 1.5rem;
        line-height: 20px;

        a{
            color: black;
            text-decoration: none;
            font-weight: bold;
            border-radius: 25px;
        }
    }

    .fb {
        margin: 2%;
        padding: 15px;
        width: 200px;
        text-align: center;
        border-radius: 25px;
        color: white;
        background-color: #3b5998;
    }
      
    .tw {
        margin: 2%;
        width: 200px;
        padding: 15px;
        text-align: center;
        border-radius: 25px;
        color: white;
        background-color: #00aced;
    }
}
    
.form-container {
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    form {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 3%;

        div {
            display: flex;
            justify-content: space-around;
        }

        input {
            width: 80%;
            height: 40px;
            border: none;
            border-bottom: 1px solid #274160;
            font-size: 1.8rem;
            margin: 3%;
        }

        .eye {
            height: 25px;
            width: 25px;
        }

        .password-container {
            display: flex;
            justify-content: start;
            align-items: center;
        }

        button {
            height: 50px;
            width: 100%;
            border-radius: 25px;
            background-color: #274160;
        }
    }
}