//Variables
$input-background: #f0f0f0;

.phonenumber-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #274160;
    color: white;

    .img-container {
        width: 266px;
        height: 191px;
        margin: 70px 0 145px 0;
        fill: white;
    }

    input {
        width: 60px;
        height: 40px;
        background-color: $input-background;
        border-radius: 10px;
        outline: none;
        box-shadow: none;
        border-style: none;
        font-size: 1.8rem;
        margin: 8px;
        text-align: center;
    }

    #txt3 {
        width: 80px;
    }

    span {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 36px;
    }
    .header {
        p {
            display: flex;
            flex-wrap: wrap;
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 1.4rem;
            width: 286px;
            text-align: left;
            height: 56px;
            line-height: 141.8%;
        }
    }

    .subtext {
        display: flex;
        justify-content: center;
        font-family: Poppins;
        font-style: normal;
        color: rgba(0, 0, 0, 0.7);
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        width: 235px;
        height: 24px;
        margin-bottom: 35px;
        margin-top: 12px;

        p {
            font-size: 12px;
            margin-left: 1px;
            color: white;
        }
    }

    .form-container {
        display: flex;
        flex-direction: column;
        height: 200px;
        .trigger {
            align-self: flex-end;
            background: #f6f6f6;
            border-radius: 20px;
            width: 69px;
            height: 52px;
            color: #274160;
            font-size: 24px;
            margin-top: 30px;
            border: none;
        }
    }
}
