@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
.coachdashboard-container {
	display: flex;
	margin-top: 0.5em;
	height: 77vh;
	@media (min-width: 800px) {
		margin-top: 0.5em;
	}



	.clientlist-container {
		width: 34em;
		border: 2px solid rgba(0, 0, 0, 0.05);
		display: flex;
		flex-direction: column;
		background: rgba(0, 0, 0, 0.05);

		.search-container {
			display: flex;
			flex-direction: column;

			.searchbar {
				margin: 0 auto;

				.search-form {
					display: flex;
					flex-direction: row;

					img {
						margin-right: 1em;
					}

					.input-values {
						display: flex;
						align-items: center;

						.search-input {
							text-align: center;
							width: 7.5em;
							height: 4.5rem;
							background-color: #edf2f8;
							border: none;
							font-size: 1.6rem;
							color: #717d8b;
							border: 1px solid #c4cfdd;
							margin-right: 0.3em;
							border-radius: 26px;
						}
						.button {
							button {
								background-color: #ff98a1;
								color: white;
								padding-top: 0.5em;
								padding-bottom: 0.5em;
								font-size: 1.3em;
								width: 4em;
								border-radius: 20px;
								font-family: "DM Sans", sans-serif;
							}
						}
					}
				}
			}
		}
		//form {
		// margin-top: -20px;
		//}
	}

	.clientinfo-container {
		width: 106em;
		overflow-y: scroll;
		// width: 70%;
		background-color: #f6f6f6;
		// display: flex;
		// flex-direction: column;
		border: 2px solid rgba(0, 0, 0, 0.05);

		
		.coach-name {
			background-color: white;
			width: 60%;
			margin: 0 auto;
			padding: 2%;
			border: 1px solid black;
			border-radius: 4px;
			font-family: 'DM Sans', sans-serif;
			text-align: center;
			font-size: 4em;
			margin-top: 2em;
			box-shadow: 1px 1px 4px #333;
		}

		.nobody {
			width: 80%;
			margin: 0 auto;
			height: 30vh;
			display: flex;
			align-items: center;
			justify-content: center;
			.not-a-client {
				text-align: center;
				font-family: 'DM Sans', sans-serif;
				font-size: 3.3em;
				font-weight: bold;
				box-shadow: 1px 1px 4px #333;
				border-radius: 4px;
				padding: 2%;
			}
		}
	}

	.tabs-container {
		// display: flex;
		// flex-direction: column;
		// justify-content: flex-start;
		// width: 100%;
		// height: 8em;
		// margin: 1rem;
		// font-size: 2em;
		// border: 1px solid black;

		// .tab {
		// 	height: 2em;
		// 	text-decoration: none;
		// 	color: black;
		// 	border-top: 1px solid black;
		// }

		// .top {
		// 	border: none;
		// }

		// .notifications {
		// 	display: flex;
		// 	justify-content: space-between;

		// 	.notification-count {
		// 		display: flex;
		// 		justify-content: center;
		// 		height: 25px;
		// 		width: 25px;
		// 		margin-right: 1em;
		// 		color: white;
		// 		background-color: tomato;
		// 		border: 2px solid red;
		// 		border-radius: 50%;
		// 	}
		// }
	}

	.coach-messaging {
		width: 33%;
		display: flex;
	}
}

//custom scroll bar style
.clientinfo-container::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.clientinfo-container::-webkit-scrollbar-track {
	display: none;
}
.clientinfo-container::-webkit-scrollbar-track:hover {
	display: block;
	background-color: rgba(201, 201, 201, 0.15);
}

/* Handle */
.clientinfo-container::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #c4cfdda9;
}
.clientinfo-container::-webkit-scrollbar-thumb:hover {
	background: #6d747c;
}
