@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
.coachdashboard-container {
	display: flex;
	margin-top: 8.9em;
	height: 77vh;
	@media (min-width: 800px) {
		margin-top: 14em;
	}

	.coach-name {
		text-align: center;
		font-size: 2em;
		margin-top: 2em;
	}

	.clientlist-container {
		border: 2px solid rgba(0, 0, 0, 0.05);
		display: flex;
		flex-direction: column;
		background: rgba(0, 0, 0, 0.05);

		form {
			margin-top: -20px;
		}
	}

	.clientinfo-container {
		overflow-y: scroll;
		width: 60%;
		background-color: #f6f6f6;
		display: flex;
		flex-direction: column;
		border: 2px solid rgba(0, 0, 0, 0.05);

		.welcome-text {
			font-size: 2em;
			text-align: center;
		}
	}

	.tabs-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
		height: 8em;
		margin: 1rem;
		font-size: 2em;
		border: 1px solid black;

		.tab {
			height: 2em;
			text-decoration: none;
			color: black;
			border-top: 1px solid black;
		}

		.top {
			border: none;
		}

		.notifications {
			display: flex;
			justify-content: space-between;

			.notification-count {
				display: flex;
				justify-content: center;
				height: 25px;
				width: 25px;
				margin-right: 1em;
				color: white;
				background-color: tomato;
				border: 2px solid red;
				border-radius: 50%;
			}
		}
	}

	.coach-messaging {
		width: 33%;
		display: flex;
	}
}

//custom scroll bar style
.clientinfo-container::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.clientinfo-container::-webkit-scrollbar-track {
	display: none;
}
.clientinfo-container::-webkit-scrollbar-track:hover {
	display: block;
	background-color: rgba(201, 201, 201, 0.15);
}

/* Handle */
.clientinfo-container::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #c4cfdda9;
}
.clientinfo-container::-webkit-scrollbar-thumb:hover {
	background: #6d747c;
}
