.footer {
    height: 5em;
    padding: 2%;
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    h4 {
        font-size: 2em;
    }
}
