$dark-background: #274160;
$light-background: #355478;
$font-color: white;
$header-font: "Poppins", sans-serif;
$text-font: "DM Sans", serif;

.available-client-display {



    .available-client{
        margin-top: 15px;
        display: flex;
        align-items: center;
        border: 1px solid #c4cfdd;
        width: 100%;
        font-family: "DM Sans";
		font-size: 2rem;
		color: #274160;
		width: 100%;
		line-height: 2.5em;
		border-bottom: 2px solid;
        cursor: pointer;
        transition: all .3s ease-out;
        p {
   
            font-family: "DM Sans";
            font-size: 2.2rem;
            color: #274160;
            font-weight: medium;
            
        }

        .first {
            margin-left: 5px;
        }
        &:hover {
            background-color: $light-background;
            color: $font-color;
        }
    }
}