@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Login-Wrapper {
  display: flex;
  height: 100vh;
  position: relative;
  font-family: 'Poppins', sans-serif;
  .side-one {
    width: 50%;
    background: #f0f0f0;
    padding: 2%;
  }
  .side-two {
    width: 50%;
    padding: 5% 10% 5% 10%;
    align-self: center;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 5rem;
    }

    .input-Wrapper {
      display: flex;
      flex-direction: column;

      .email {
        border: none;
        border-bottom: 1px solid #0000003a;
        margin-bottom: 6rem;
        font-size: 1.5rem;
      }

      .password {
        border: none;
        border-bottom: 1px solid #0000003a;
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
      }

      input::placeholder {
        color: #c4c4c4;
        font-size: 1.5rem;
      }
    }
    .signup-btn {
      width: 30%;
      padding: 1.3rem 2rem;
      font-size: 1.5rem;
      text-align: center;
      color: white;
      background: #292929;
      border-radius: 12px;
      cursor: pointer;
      align-self: center;
    }
    .register-container {
      font-size: 1.2rem;
      margin-top: 2rem;
      align-self: center;
      .register {
        color: black;
        text-decoration: none;
        font-weight: 600;
      }
    }
    .forgot {
      text-decoration: none;
      color: black;
      font-weight: 600;
      float: right;
      margin-bottom: 5rem;
    }
  }
}
