@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Login-Wrapper {
    display: flex;
    height: 100vh;

    font-family: 'Poppins', sans-serif;

    .side-one {
        width: 50%;
        background-image: url('https://imgur.com/BjBin1U.png');
        background-repeat: no-repeat;

        background-position: center;
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .objective {
            font-family: DM Sans;
            font-style: italic;
            font-weight: 500;
            font-size: 2rem;
            line-height: 26px;
            color: #e6e7e7;
            width: 70%;
            margin-left: 55px;
            margin-bottom: 20px;
            align-self: center;
            margin-bottom: 1.8rem;
        }

        .logo-wrapper {
            margin-left: 30px;
            margin-top: 30px;
            width: 100%;

            .logo {
                margin-top: -10px;
                margin-left: 15px;
            }
        }
    }

    .side-two {
        width: 50%;
        padding: 5% 10% 5% 10%;
        align-self: center;
        display: flex;
        flex-direction: column;
        color: #274160;

        h1 {
            font-size: 2.5rem;
            font-weight: 600;
            margin-bottom: 2rem;
        }

        p {
            font-size: 1.8rem;
            margin-bottom: 5rem;
            color: rgba(113, 125, 139, 0.8);
            font-family: DM Sans;
            font-style: normal;
            font-weight: 500;
            line-height: 29px;
        }

        .input-Wrapper {
            display: flex;
            flex-direction: column;

            .input-layout {
                display: flex;
                flex-direction: column;
                color: #6c6c6c;
                label {
                    font-family: DM Sans;
                    font-style: normal;
                    margin-bottom: 3px;
                    margin-left: 5px;
                    font-size: 1.4rem;
                }
            }
            .email {
                background: #f6f6f6;
                border: 1.5px solid #c4cfdd;
                border-radius: 15px;
                margin-bottom: 6rem;
                font-size: 1.5rem;
                padding: 3%;
                outline: none;
            }

            .password {
                background: #f6f6f6;
                border: 1.5px solid #c4cfdd;
                border-radius: 15px;
                font-size: 1.5rem;
                padding: 3%;
                outline: none;
            }

            input::placeholder {
                color: #c4c4c4;
                font-size: 1.5rem;
            }
        }
        .signup-btn {
            width: 40%;
            padding: 1.3rem 2rem;
            font-size: 1.5rem;
            text-align: center;
            color: white;
            background: #274160;
            border-radius: 12px;
            cursor: pointer;
            align-self: center;
            outline: none;
        }
        .register-container {
            font-size: 1.2rem;
            margin-top: 2rem;
            align-self: center;
            .register {
                font-weight: 500;
                color: #353535;
            }
        }
        .forgot {
            text-decoration: underline;
            font-weight: 500;
            margin-bottom: 5rem;
            color: #274160;
            align-self: flex-end;
            line-height: 29px;
            font-weight: bold;
            cursor: pointer;
            margin-right: 0.5rem;
        }
        .layout-wrapper {
            display: flex;
            flex-direction: column;
        }
    }
}
