.creds-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #274160;
    justify-content: space-evenly;
    min-height: 100vh;
    font-size: 1.8rem;

    .img-container {
        margin: 0 auto;
        text-align: center;
    }

    span {
        font-family: 'DM Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 36px;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        background-color: white;

        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 auto;

            input {
                height: 40px;
                border-bottom: 1.5px solid #274160;
                box-shadow: none;
                font-size: 1.8rem;
                margin: 8px;
            }
        }
    }
}
