@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.welcomeScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 1rem;
    text-align: center;

    h1 {
        font-weight: 600;
        font-size: 1.5rem;
        font-family: Poppins;
        line-height: 1.5rem;
    }

    .header2 {
        text-align: center;
        font-weight: 600;
        margin-top: 1rem;
        margin-bottom: 1rem;
        h1 {
            font-size: 1.6rem;
        }
    }

    .footerText {
        margin: 0 auto;
        text-align: left;
    }

    .nextBtn {
        margin: 30px;
        font-family: 'DM Sans', sans-serif;
        font-style: normal;
        border: 1px solid #274160;
        background: #274160;
        font-size: 2rem;
        width: 200px;
        height: 50px;
        border-radius: 20px;
        color: white;
    }
}
