$dark-background: #274160;
$light-background: #355478;
$font-color: white;
$header-font: 'Poppins', sans-serif;
$text-font: 'DM Sans', serif;

.form-boi {
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .file-chooser {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            label {
                margin-bottom: .5em;
                font-size: 1.3em;
            }
            input {
                margin-left: 5em;
                margin-top: .5em;
                font-size: 1em;
            }  
        }
    }
    .upload-image {
        height: 2em;
        margin: .5em auto;
        width: 40%;
    }
    .cancel {
        font-size: 1.5em;
        margin-top: 1em;
        box-sizing: border-box;
        color: red;
        text-shadow: 2px 1px 1px #333;
    }
}
