// @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.client-dashboard {
    padding-top: 6em;
    // font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

.notifications-container {
    width: 90%;
    margin: 1em;
    border: 1px solid #274160;

    h1 {
        padding: .5em;
        color: white;
        background-color: #274160;
        text-align: center;
    }

    .notifications {

        p {
            padding: 1em;
            border-top: 1px solid #274160;
        }
    }
}

.resource-center {
    width: 90%;
    margin: 1em;
    border: 1px solid #274160;

    h1 {
        padding: .5em;
        color: white;
        background-color: #274160;
        text-align: center;
    }

    .resources {

        p {
            padding: 1em;
            border-top: 1px solid #274160;
        }
    }
}

.session-notes {
    width: 90%;
    margin: 1em;
    border: 1px solid #274160;

    h1 {
        padding: .5em;
        color: white;
        background-color: #274160;
        text-align: center;
    }

    .notes {

        p {
            padding: 1em;
            border-top: 1px solid #274160;
        }
    }
}

.settings {
    width: 90%;
    margin: 1em;
    border: 1px solid #274160;

    h1 {
        padding: .5em;
        color: white;
        background-color: #274160;
        text-align: center;
    }
}