.message-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;

    width: 100%;

    .live-message {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6.4rem;
        padding: 2rem;
        opacity: 0.3;
        cursor: pointer;
    }
    .scheduled-message {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6.4rem;
        padding: 2rem;
        opacity: 0.3;
        cursor: pointer;
    }
}
.active {
    background-color: #f6f6f6;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem;
    color: #274160;
    cursor: pointer;
}

.scroll-to-bottom {
    display: flex;
}

.message-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    .messages {
        // border: 2px dashed orchid;
        width: 70%;
        padding: 10px;
        p {
            // border: 1px solid red;
            // width: 60%;
            border-radius: 10px;
            font-size: 2rem;
        }
        .text {
            padding: 10px;
        }
        .time {
            font-size: 1.4rem;
            color: lightslategray;
            font-family: DM sans;
        }
    }
    .left {
        align-self: flex-start;
        margin-left: 0.6rem;
        // color: red;
        .text {
            background-color: #6d8eb4;
            font-family: DM Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            color: #f6f6f6;
        }
    }
    .right {
        align-self: flex-end;
        // color: red;
        margin-right: 0.6rem;
        .text {
            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 10px;
            font-family: DM Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            color: #355478;
        }
    }
}
textarea {
    max-width: 43.7rem;
    resize: none;
    border-radius: 15px;
    outline: none;
    padding: 2rem;
    border: none;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.message-wrapper {
    border: 2px solid rgba(0, 0, 0, 0.05);
    // position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;

    background: #f6f6f6;
}
.text-input {
    display: flex;
    justify-content: space-around;
    .submit {
        background: white;
        border-radius: 15px;
        padding: 1rem;
        // margin: 3rem;
        display: flex;
        width: 98%;
        margin-bottom: 20px;
    }
    button {
        outline: none;
        background: none;
        border: none;
        width: 2rem;
        img {
            outline: none;
            width: 100%;
            // float: right;
            // margin-right: 5rem;
            // margin-bottom:55533rem;
            // float:top;
        }
        .veiw-all-button {
            border: 1px solid red;
        }
    }
}
.message-selector {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    margin-left: 1rem;
}

.scrollbar-message-container {
    width: 100%;
    display: flex;
}

//custom scroll bar style
.scrollbar-message-container::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.scrollbar-message-container::-webkit-scrollbar-track {
    background-color: rgba(201, 201, 201, 0.05);
}
.scrollbar-message-container::-webkit-scrollbar-track:hover {
    background-color: rgba(201, 201, 201, 0.15);
}

/* Handle */
.scrollbar-message-container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #c4cfdda9;
}
.scrollbar-message-container::-webkit-scrollbar-thumb:hover {
    background: #6d747c;
}

.mini-list {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #f6f6f6;

    .veiw-all-button {
        color: #6d8eb4;
        font-family: DM Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 16px;
        outline: none;
        border: none;
        background: none;
        cursor: pointer;
        justify-self: flex-start;
        margin-top: 1.5rem;
    }
}
.ScheduleMessages-Container-Main {
    display: flex;
    justify-content: center;
    background: #f6f6f6;
    margin-top: 2.3rem;

    // border: 1px solid red;
}
