.new-feature {
    font-size: 4rem;
    padding: 2rem;
}
.date-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
    align-items: center;
    margin-top: 30px;

    width: 100%;
    h2 {
        font-family: DM Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 18px;
        color: #1c3048;
    }
}

.message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1.5rem;

    .time-wrapper {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
        margin-top: 2.5rem;

        h2 {
            font-family: DM Sans;
            font-style: normal;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 18px;
            color: #1c3048;
        }
    }
    .title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        line-height: 22px;
        color: #1c3048;
        margin-bottom: 4rem;
        align-self: start;
        margin-left: 4rem;
    }
    .sch-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // width: 75%;

        textarea {
            // width: 1000%;
            padding: 4.5%;
            max-width: 43.7rem;
            resize: none;
            border-radius: 15px;
            outline: none;
            border: none;
            font-family: DM Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 1.4rem;
            line-height: 1.8rem;
        }
        .selectheader {
            // width: 30%;

            .input-arrow {
                position: absolute;
                left: 81.1%;
                right: 24%;
                bottom: 48.3%;
            }
            select {
                background: rgba(255, 255, 255, 0.6);
                border: 1.25px solid #274160;
                border-radius: 8px;
                font-family: DM Sans;
                font-style: normal;
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 16px;
                width: 10rem;
                // -webkit-appearance: none;
                // -moz-appearance: none;
                // appearance: none;
                text-indent: 10px;
                height: 3.5rem;
                cursor: pointer;
                color: #274160;
                background-image: url(../../../utils/assets/downArrow.svg)
                    no-repeat;
            }
        }
        .sch-submit {
            width: 17.9rem;
            height: 55px;
            background: #274160;
            border-radius: 10px;
            outline: none;
            cursor: pointer;
            color: #ffffff;
            margin-top: 45px;
            // margin-top:45px;
        }
    }
}
