@import url("https://fonts.googleapis.com/css?family=DM+Sans&display=swap");

.goal-form {
    font-family: "DM Sans";
    width: 50%;
    position: fixed;
    top: 10em;
    background-color: white;
    border: 2px solid dodgerblue;
    border-radius: 8px;
    z-index: 800;

    h1 {
        display: flex;
        justify-content: center;
        font-size: 20px;
        padding: 1em;
    }
    
    form {
        padding: 1em;

        input, select {
            width: 70%;
            margin: .5em;
            padding: .5em;
            border-radius: 1em;
        }

        button {
            width: 40%;
        }
    }
}

.closed {
    display: none;
}