.goal-text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.8rem;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 65%;
}
.arrow {
    cursor: pointer;
}
.start-date {
    width: 70%;
    margin-bottom: 0.8rem;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.3rem;
    color: #1c3048;
}

.goal-text p {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #1c3048;
    padding-right: 2.2rem;
}
.goal-notes-title {
    text-decoration: underline;
}
.goal-notes p {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-top: 1rem;
    color: #1c3048;
    padding-right: 2.2rem;
}
.follow-up-title {
    text-decoration: underline;
}

.follow-up p {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-top: 1rem;
    color: #1c3048;
    padding-right: 2.2rem;
}

.goal-mas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
    width: 30%;
    text-align: center;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.3rem;

    .goalMet {
        width: 100%;
        height: 50%;
    }

    .green-check {
        margin-bottom: 0.6rem;
        width: 2rem;
        height: auto;
    }

    .met-goal {
        p {
            color: #47b881;
            font-size: 1.3rem;
            margin-right: 0.4rem;
        }
    }
    .unmet-goal {
        p {
            color: #fd6c79;
            font-size: 1.3rem;
            margin-right: 0.4rem;
        }
    }
    .in-progress {
        p {
            color: orange;
            font-size: 1.3rem;
            margin-right: 0.4rem;
        }
    }

    .red-x {
        margin-bottom: 0.6rem;
        width: 2rem;
        height: auto;
    }

    // p {
    //     font-size: 1.3rem;
    //     margin-right: 0.4rem;
    // }
}

.hidden {
    display: none;
}
.not-hidden {
    display: block;
}
