@mixin layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goals-wrapper {
    @include layout();
    background: #ffffff;
    height: 80%;
    margin: 3px;

    button {
        align-self: flex-end;
        border: none;
        background: none;
        outline: none;
    }
}

.goal-box {
    @include layout();
    justify-content: space-around;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    border-radius: 20px;
    background: #ffecee;
    width: 100%;
    padding: 10px;
    margin: 3px;
}
