.goal-modal-container {
    // position: absolute;
    // width: 661px;
    // height: 710px;
    // left: 288px;
    // top: 215px;

    background: #ffffff;
    // border-radius: 20px;
}

.goal-box {
    // border: 1px solid red;
    background: #ffecee;
    border-radius: 15px;
}
