.goals-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 14%;
    background: #ffffff;
}
