.goal-text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.8rem;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.start-date {
    width: 70%;
    margin-bottom: 0.8rem;
}

.goal-mas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
    width: 20%;
    text-align: center;
}
