@mixin layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goal-modal-container {
    background-color: black;
    width: 69.5%;
    min-height: 100vh;
    width: 69.5%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    background-color: rgba(7, 17, 28, 0.5);
    left: 0px;
    bottom: 0px;
}

.goal-container {
    @include layout();
    // position: absolute;
    margin-left: 18%;
    // left: 10%;
    // bottom: 25%;
    background: #ffffff;
    border-radius: 20px;
    width: 50%;
    max-height: 80vh;
    padding: 30px 20px;
    margin-left: 15%;
    .modal-label {
        display: flex;
        justify-content: space-between;
        width: 98%;
        margin: 0 auto;
        font-size: 2.2rem;
        font-weight: bold;
        font-family: DM Sans;
        font-style: normal;
        line-height: 2.9rem;
        margin-bottom: 1rem;
        margin-left: 5rem;
        color: #1c3048;
    }
    .modal-button-close {
        align-self: flex-end;
        margin-right: 4rem;
        cursor: pointer;
    }
    .modal-button {
        align-self: center;
        border: none;
        background: none;
        outline: none;
        color: #6d8eb4;
        font-family: DM Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 1.4rem;
        text-decoration-line: underline;
        margin-top: 1rem;
        cursor: pointer;
        // font-weight: 500;
        // line-height: 16px;
        .close {
            border: 1px solid red;
        }
    }
}
.goal-box {
    @include layout();
    justify-content: space-around;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    border-radius: 20px;
    border: 1px solid #c4cfdd;
    background: #f6f6f6;
    width: 90%;
    padding: 10px;
    margin: 0.7rem;
    margin-left: 2.2rems;
}

// .scrollbar-container {
//     position: relative;
//     height: 100%;
//     width: 90%;
// }
