$dark-background: #274160;
$light-background: #355478;
$font-color: white;
$header-font: 'Poppins', sans-serif;
$text-font: 'DM Sans', serif;

.sidedrawer {
    height: 100vh;
    width: 40vh;
    background-color: #ddd;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 300;

    
  }

  .sidedrawer-open {
    transform: translateX(0);
    height: 100vh;
    width: 40vh;
    padding-left: 2%;
    background-color: $light-background;
    transition: all 0.3s ease-out;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 800;
    font-family: 'Viga', sans-serif;
    .logo {
        margin-top: 2em;
    }
    .nav {
        display: flex;
        flex-direction: column;
        margin-top: 3em;
        
       
        a {
            color: white;
            font-size: 3em;
            margin: 1em 0em;
        }
    }
         
    }
