@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');

.client-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c4cfdd;
    width: 100%;
    padding: 10%;

    .active {
        border: 1.5px solid red;
        background-color: red;
    }

    h1 {
        font-family: 'DM Sans';
        font-size: 1.3rem;
        color: #274160;
    }
}
