@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');

.client-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    padding: 10%;
    cursor: pointer;
    h1 {
        font-family: 'DM Sans';
        font-size: 1.3rem;
    }
}
