@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
$dark-background: #274160;
$light-background: #355478;
$font-color: white;
$header-font: 'Poppins', sans-serif;
$text-font: 'DM Sans', serif;
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    padding: 3%;
    font-family: 'Poppins', sans-serif;
    background-color: $light-background;
    color: white;

    a {
        text-decoration: none;
        color: dodgerblue;
    }
    .fas {
        cursor: pointer;
        color: dodgerblue;
    }

    div {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 3em;

        .title {
            width: 60%;
            margin: 0 auto;
            text-align: center;
        }
    }
}
.goals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.next {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;

    a {
        text-decoration: none;
        color: dodgerblue;
    }
}
