@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
.coachdashboard-container {
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;

    .clientlist-container {
        border: 2px solid rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.05);

        form {
            margin-top: -20px;
        }
    }

    .clientinfo-container {
        overflow-y: scroll;
        width: 60%;
        background-color: #f6f6f6;
        display: flex;
        flex-direction: column;
        border: 2px solid rgba(0, 0, 0, 0.05);
    }
    .coach-messaging {
        width: 33%;
        display: flex;
    }
}

//custom scroll bar style
.clientinfo-container::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.clientinfo-container::-webkit-scrollbar-track {
    display: none;
}
.clientinfo-container::-webkit-scrollbar-track:hover {
    display: block;
    background-color: rgba(201, 201, 201, 0.15);
}

/* Handle */
.clientinfo-container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #c4cfdda9;
}
.clientinfo-container::-webkit-scrollbar-thumb:hover {
    background: #6d747c;
}
