@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
.coachdashboard-container {
    border: 1px solid red;
    display: flex;

    .clientlist-container {
        width: 15%;
    }
    .clientinfo-container {
        width: 60%;
        border: 1px solid green;
        background-color: #f6f6f6;
        display: flex;
        flex-direction: column;
    }
    .coach-messaging {
        width: 33%;
    }
}

// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

// .flex {
//     display: flex;
// }

// .dashboard {
//     display: flex;
//     height: 100vh;
//     position: relative;
//     font-family: 'Poppins', sans-serif;

//     h1,
//     h2,
//     h3,
//     h4,
//     h5,
//     p {
//         text-align: left;
//     }

//     input {
//         width: 100%;
//         padding: 1rem;
//         background: #f0f0f0;
//         border-radius: 15px;
//         border: none;
//     }

//     input::placeholder {
//         color: #c4c4c4;
//         font-size: 1rem;
//     }

//     .side-one {
//         width: 50%;
//         background: #f0f0f0;
//         padding: 5rem;

//         img {
//             width: 60%;
//             height: auto;
//             border-radius: 50%;
//         }

//         h1 {
//             font-size: 2.7rem;
//             margin-bottom: 1.7rem;
//         }
//     }
//     .side-two {
//         width: 50%;
//         padding: 5rem;
//         align-self: center;
//         display: flex;
//         flex-direction: column;
//         align-items: center;

//         .send-btn {
//             width: 50%;
//             padding: 0.85rem 0.5rem;
//             color: white;
//             background: #292929;
//             border-radius: 20px;
//             margin-top: 2.5rem;
//             cursor: pointer;
//         }

//         .send-btn-disabled {
//             width: 50%;
//             padding: 0.85rem 0.5rem;
//             color: white;
//             background: #292929;
//             border-radius: 20px;
//             margin-top: 2.5rem;
//             opacity: 0.7;
//             cursor: url('https://i.imgur.com/5PRg855.png?1'), auto;
//         }

//         h1 {
//             font-size: 1.7rem;
//             text-align: left;
//             margin-bottom: 0.6rem;
//         }

//         h1,
//         p {
//             width: 100%;
//         }
//     }
// }

// .welcome {
//     display: flex;
//     height: 100vh;
//     position: relative;
//     font-family: 'Poppins', sans-serif;
//     background: #f0f0f0;
//     align-items: center;

//     p {
//         text-align: left;
//     }

//     h1 {
//         text-align: center;
//     }

//     .side-one {
//         width: 40%;

//         img {
//             width: 60%;
//             height: auto;
//             border-radius: 50%;
//         }
//     }
//     .side-two {
//         width: 60%;
//         padding: 5rem;
//         display: flex;
//         flex-direction: column;
//         align-items: center;

//         .continue-btn {
//             width: 30%;
//             padding: 0.85rem 0.5rem;
//             color: white;
//             background: #292929;
//             border-radius: 20px;
//             margin-top: 2.5rem;
//             cursor: pointer;
//         }

//         h1 {
//             font-size: 2.7rem;
//             margin-bottom: 1.7rem;
//         }
//     }
// }
