.dash-metric-container {
    border: 2px solid purple;
    width: 100%;
    max-width: 1000px;
    border-radius: 2rem;

    .graph-container {
        width: 100%;
        // border: 4px solid blue;
    }
}
