.client-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5.8em;
    font-size: 1.5rem;

    .top-section {
        border: 1px solid black;
    }
}