.chat-container {
    position: relative;

    .my-video {
        video {
            height: calc(100vh - 128px);
            background: black;
            width: 100%;
            object-fit: contain;
        }
    }

    .peers-video {
        video {
            position: absolute;
            right: 2%;
            top: 2%;
            height: 150px;
            object-fit: contain;
            background: red;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        }
    }

    .start-video-btn {
        all: unset;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 2%;
        left: 2%;
        height: 40px;
        width: 40px;
        font-size: 2.4rem;
        padding: 10px;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        border: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
    .session-notes {
        position: absolute;
        bottom: 2%;
        right: 2%;
        width: 400px;
       
        textarea {
            all: unset;
            background: white;
            height: 150px;
            width: 100%;
            border-radius: 20px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
            padding: 20px 10px;
            box-sizing: border-box;
            font-size: 1.6rem;
            overflow-wrap: anywhere;
        }
        button {
            all: unset;
            height: 50px;
            width: 50px;
            background: white;
            color: black;
            font-size: 1.8rem;
            text-align: center;
            border-radius: 50%;
            position: absolute;
            right: 2%;
            bottom: 5%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        }
        .notes-container {
            max-height: 200px;
            overflow-y: scroll;
            padding: 0 10px;

            &::-webkit-scrollbar-thumb{
               background: white;
               opacity: 0.5;
               border-radius: 5px;
            }
            &::-webkit-scrollbar{
                width: 10px;
                background: #363636;
                opacity: 0.7;
                border-radius: 5px; 
                margin-left: 10px;

                &:hover{
                    opacity: 1;
                }
            }

            .note-bubble {
                background: linear-gradient(35deg, white, #f1f1f1);
                padding: 10px 20px;
                font-size: 1.6rem;
                border-radius: 15px;
                margin: 5px 0;
                overflow-wrap: anywhere;
            }
        }
    }
}
