
.client-dashboard {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    padding-top: 6em;
    font-size: 2rem;

    .tabs-container {
        width: 15%;
        height: 6em;
        display: flex;
        flex-direction: column;
        font-size: 1em;
        border: 1px solid black;

        .tab {
            height: 1.5em;
            border-top: 1px solid black;
            text-decoration: none;
            color: black;
        }

        .top {
            border: none;
        }

        .notifications {
            display: flex;

            .notification-count {
                display: flex;
                justify-content: center;
                height: 25px;
                width: 25px;
                color: white;
                background-color: tomato;
                border: 2px solid red;
                border-radius: 50%;
            }
        }
    }

    .profile-container {
        display: flex;
        margin: .5em;
        font-size: 2em;
        
        .profile {
            display: flex;
            flex-direction: row;

            .condition {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 2em;
                width: 4.5em;
                margin: 0 .5em;
                font-size: .5em;
                border-radius: 5em;
            }

            .diabetes {
                background-color: #5d9c6d;
                border: 3px solid #2a4932;
            }

            .hbp {
                background-color: #f3a632;
                border: 3px solid #ad7623;
            }
        }
    }
}