// @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.client-dashboard {
    display: flex;
    flex-direction: column;
    padding-top: 6em;
    // font-family: 'Poppins', sans-serif;
    font-size: 2rem;

    .profile-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1em;
        padding: 1em;

        h4 {
            margin-top: 1em;
            font-size: 1.3em;
        }
    }
}

.wrapper {
    margin: 1em;
    border: 1px solid #274160;

    h1 {
        padding: .5em;
        color: white;
        background-color: #274160;
        text-align: center;
    }

    .container {

        p {
            padding: 1em;
            border-top: 1px solid #274160;
        }
    }
}