
.goal-card {
    display: flex;
    margin-bottom: 1em;
    padding: 1em;
    background-color: white;
    border: 1px solid black;

    @media (max-width: 800px) {
        margin: 1em 1em;
    }

    .goal-icon {
        height: 50px;
        width: 50px;
        border-radius: 100%;
    }

    .goal-info {
        width: 100%;
        padding-left: 1em;

        .goal-start {
            display: flex;
            justify-content: flex-end;
        }

        h2 {
            margin: auto;
            padding-bottom: .5em;
            font-size: 1.25em;
        }
    }
}