$blue: #355478;
$white: #ffffff;
$pinkish: #ff98a1;

.resources-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
    
    .top-section {
        display: flex;
        flex-direction: row;

        h1 {
            padding: 1em;
            align-self: center;
            margin: 0 1em;
            font-size: 3em;
        }
    }

    .cards-container {
        padding-top: 2em;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        background: rgba(0, 0, 0, 0.05);

        .resource-card {
            width: 80em;
            margin: 2em;
            padding: 2em;
            background-color: white;
            border: .2em solid $blue;
            border-radius: 5em;

            h2 {
                color: $blue;
                font-size: 2.5em;
                padding: .5em;
            }

            a {
                font-size: 2em;
            }
        }
    }
}