@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.clientprofile {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-content: center;
    align-content: flex-start;
    justify-content: space-evenly;
    width: 100%;
    // min-height: 14%;
    // height: 35rem;
    background: #fdfdfd;
    padding: 2rem 0rem;

    .checkin {
        display: flex;
        justify-content: flex-end;
        margin-right: 0.5rem;
    }
    h1 {
        font-size: 2.8rem;
        font-family: Montserrat;
        width: 33%;
        color: #1c3048;
        font-weight: bold;
    }
    p {
        font-family: DM Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.3rem;
        color: #b1b1b1;

        letter-spacing: -0.02em;

        color: rgba(0, 0, 0, 0.5);
        align-self: flex-end;
    }
    h6 {
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);
        align-self: flex-end;
        margin-left: 0.5rem;
        font-family: DM Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.3rem;
        /* identical to box height */

        /* Primary - 7 */

        color: #1c3048;
    }
    .key-details {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        // margin: 0 auto;
        width: 80%;

        p {
            background-color: #f0f0f0;
            border: 1px solid #f0f0f0;
            border-radius: 2rem;
            font-size: 1.2rem;
            font-family: 'Poppins', sans-serif;
            padding: 0.5rem;
            text-align: center;
            margin-left: 1rem;
        }
        .details {
            display: flex;

            .spanish {
                color: #ff9a3d;
                background: #f9f0de;
                padding: 0.9rem;
            }
            .english {
                color: #765dbd;
                background: #eae3fc;
                padding: 0.9rem;
            }

            .condition-container {
                display: flex;
                justify-content: space-between;

                .bloodPressure {
                    color: #26a9bb;
                    background: #d7efec;
                    padding: 0.9rem;
                }
                .pre-diabetes {
                    color: #ff5060;
                    background: #fed6d6;
                    padding: 0.9rem;
                }
                .diabetes {
                    color: #47b881;
                    background: #d6f3dc;
                    padding: 0.9rem;
                }
                .hypothyroid {
                    color: #ffc512;
                    background: #fff3c9;
                    padding: 0.9rem;
                }
                .other {
                    color: #ff5060;
                    background: #fed6d6;
                    padding: 0.9rem;
                }
                .unknown {
                    color: #47b881;
                    background: #d6f3dc;
                    padding: 0.9rem;
                }
            }
        }
    }
    .motivations {
        font-family: 'Poppins', sans-serif;
        justify-content: space-evenly;
        display: flex;
        padding: 3rem;
        align-items: center;
        justify-content: flex-start;
        label {
            font-size: 1.4rem;
            font-family: DM Sans;
            font-style: normal;
            font-weight: 500;
            color: #1c3048;
        }
        .text-container {
            width: 33%;
            height: 1.4rem;
            overflow: hidden;

            p {
                font-size: 1.4rem;
                font-family: DM Sans;
                font-style: normal;
                font-weight: 500;
                color: #1c3048;
                padding-left: 1rem;
            }
        }
        button {
            border: none;
            background-color: none;
            flex-wrap: nowrap;
            color: grey;
            font-size: 1.4rem;
        }
    }
}
// styling for client search input in SearchForm.js
.search-input {
    text-align: center;
    width: 100%;
    text-indent: 3rem;
    height: 5.5rem;
    background-color: #edf2f8;
    padding: 10%;
    border: none;
}

.magnifying-glass {
    position: absolute;
    top: 20px;
    left: 10px;
}

.ghost {
    display: none;
}
.client-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c4cfdd;
    width: 100%;
    padding: 10%;
    background-color: #edf2f8;
    h1 {
        font-family: 'DM Sans';
        font-size: 1.3rem;
        color: #274160;
    }
}

.active1 {
    background-color: #9ab2ce;

    h1 {
        color: #ffffff;
    }
}
