@mixin layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.motive-container {
    background-color: black;
    width: 100%;
    min-height: 100vh;

    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    background-color: rgba(7, 17, 28, 0.5);
    left: 0px;
    bottom: 0px;
}

.motive-box {
    @include layout();
    justify-content: space-around;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    border-radius: 20px;
    background: #ffffff;
    width: 50%;
    height: 320px;

    .label {
        width: 74%;
        margin: 0 auto;
        font-size: 2rem;
        font-weight: bold;
    }
    p {
        flex-wrap: wrap;
        width: 74%;
        font-size: 1.5rem;
        margin: 0 auto;
    }

    button {
        font-family: 'DM Sans', sans-serif;
        font-style: normal;
        font-size: 1rem;
        width: 80%;
        border: none;
        text-decoration: underline;
    }
}
